# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment files
.env
*.env
*.venv
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
# Uncomment the following line if you're using PyInstaller
# dist/
# build/
# *.spec

# VSCode settings
.vscode/

# Pycharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db